# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
.venv/
env/
.env/

# VS Code
.vscode/

# Secrets / Environment variables
.env
*.env

# IDE files
.idea/

# Betriebssystem-Dateien
.DS_Store
Thumbs.db